.imagen {
  width: 150px;     /* Ancho */
  height: auto;     /* Mantiene proporción */
  position: absolute; /* Para moverla libremente */
  top: 20px;        /* Ajusta posición vertical */
  left: 24%;      /* Ajusta posición horizontal */
  z-index: 1;
}

.texto {
  position: absolute; /* Se puede mover libremente */
  top: 45px;   /* Baja el texto */
  left: 34%;  /* Mueve el texto a la derecha */
  font-size: 18px;  /* Tamaño de letra */
  color: #000000;      /* Color */
  font-weight: bold; /* Negrita */
  z-index: 1;
}
.texto1 {
  position: absolute; /* Se puede mover libremente */
  top: 770px;   /* Baja el texto */
  left: 25%;  /* Mueve el texto a la derecha */
  font-size: 35px;  /* Tamaño de letra */
  color: #a8bfd5;      /* Color */
  font-weight: bold; /* Negrita */
  z-index: 1;
}

.texto2 {
  position: absolute; /* Se puede mover libremente */
  top: 750px;   /* Baja el texto */
  left: 42%;  /* Mueve el texto a la derecha */
  font-size: 17px;  /* Tamaño de letra */
  color: #a8bfd5;      /* Color */
  font-weight: bold; /* Negrita */
  z-index: 1;
  margin-top: 2px; /* Distancia desde “Mexico” */
  margin-bottom: 0; /* Opcional: quita espacio abajo */

}


.rectangulo2 {
  width: 60%;       /* Ancho largo */
  height: 810px;      /* Alto */
  background-color: #e9e7e2;  /* Color azul */
  color: white;       /* Texto en blanco */
  display: flex;      /* Centrar el texto */
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Bordes redondeados opcionales */
  font-size: 20px;
  font-weight: bold;
  position: absolute; /* o absolute, fixed */
  top: 10px; 
  left: 20%;  /* Lo baja 50px */
  z-index: 0; /* Este queda encima */
}

/* rectangulo del logo*/
.rectangulo3 {
      width: 290px;
      height: 100px;
      background-color: #dbdbdb;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border-radius: 11px;
      /* Esto permite moverlo */
      position: absolute; 
      top: 10px;   /* Distancia desde arriba */
      left: 23%; /* Distancia desde la izquierda */
      z-index: 0;
    }


    .rectangulo {
  width: 50%;       /* Ancho largo */
  height: 30px;      /* Alto */
  background-color: #5e8299;  /* Color azul */
  color: white;       /* Texto en blanco */
  display: flex;      /* Centrar el texto */
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Bordes redondeados opcionales */
  font-size: 20px;
  font-weight: bold;
  position: relative; /* o absolute, fixed */
  top: 110px; 
  left: 25%;  /* Lo baja 50px */
  z-index: 1; /* Este queda atrás */
}
    .rectangulo4 {
  width: 50%;       /* Ancho largo */
  height: 130px;      /* Alto */
  background-color: #5e8299;  /* Color azul */
  color: white;       /* Texto en blanco */
  display: flex;      /* Centrar el texto */
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Bordes redondeados opcionales */
  font-size: 60px;
  font-weight: bold;
  position: relative; /* o absolute, fixed */
  top: 530px; 
  left: 25%;  /* Lo baja 50px */
  z-index: 1; /* Este queda atrás */
}

.rectangulo1 {
  width: 50%;       /* Ancho largo */
  height: 400px;      /* Alto */
  background-color: #5e8299;  /* Color azul */
  color: white;       /* Texto en blanco */
  display: flex;      /* Centrar el texto */
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Bordes redondeados opcionales */
  font-size: 20px;
  font-weight: bold;
  position: relative; /* o absolute, fixed */
  top: -8px;   /* Lo baja 50px */
  left: 25%;
  font-size: 80px;
  z-index: 1; /* Este queda atrás */
}

.time {
  position: absolute; /* Se puede mover libremente */
  top: 760px;   /* Baja el texto */
  left: 70%;  /* Mueve el texto a la derecha */
  font-size: 19px;  /* Tamaño de letra */
  color: #9c9c9c;      /* Color */
  font-weight: bold; /* Negrita */
  z-index: 1;
  margin-top: 2px; /* Distancia desde “Mexico” */
  margin-bottom: 0; /* Opcional: quita espacio abajo */
}