body { margin: 0; font-family: Arial, sans-serif; background: #f5f5f5; }
.container { display: flex; height: calc(100vh - 50px); }
main { flex: 1; padding: 20px; background: #fff; overflow-y: auto; }
h2 { margin-top: 0; display: flex; align-items: center; gap: 10px; }
table { width: 100%; border-collapse: collapse; background: #fafafa; }
table th, table td { padding: 10px; border: 1px solid #ddd; text-align: center; }
table th { background: #747e8bff; color: white; }
 
.btn-status { background: #2b3d57; color: white; border: none; padding: 5px 8px; cursor: pointer; border-radius: 4px; }
.btn-status:hover { background: #3f5675; }

/* Botón grande estilo servicios */
.btn-agregar {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background: #2b3d57;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.btn-agregar:hover { background: #3f5675; }

/* Modal estilo servicios */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(135deg, rgba(0,0,0,0.7), rgba(50,50,50,0.9));
    justify-content: center;
    align-items: center;
}
.modal-contenido {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}
.modal-contenido h3 { margin-top: 0; }
.modal-contenido input { width: 90%; padding: 10px; margin-bottom: 15px; }
.modal-contenido button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #2b3d57;
    color: #fff;
    cursor: pointer;
}
.modal-contenido button:hover { background: #3f5675; }
.cerrar { margin-top: 10px; background: red !important; }
.cerrar:hover { background: darkred !important; }


.btn-eliminar {
  position: relative;
  border-radius: 6px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #cc0000;
  background-color: #e50000;
  overflow: hidden;
}

.btn-eliminar,
.btn-eliminar__icon,
.btn-eliminar__text {
  transition: all 0.3s;
}

.btn-eliminar .btn-eliminar__text {
  transform: translateX(35px);
  color: #fff;
  font-weight: 600;
}

.btn-eliminar .btn-eliminar__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-eliminar .svg {
  width: 20px;
}

.btn-eliminar:hover {
  background: #cc0000;
}

.btn-eliminar:hover .btn-eliminar__text {
  color: transparent;
}

.btn-eliminar:hover .btn-eliminar__icon {
  width: 148px;
  transform: translateX(0);
}

.btn-eliminar:active .btn-eliminar__icon {
  background-color: #b20000;
}

.btn-eliminar:active {
  border: 1px solid #b20000;
}
