
/* ===== ESTILOS GENERALES ===== */
body { margin: 0; font-family: Arial, sans-serif; background: #f5f5f5; }



.container { display: flex; height: calc(100vh - 50px); }

main { flex: 1; padding: 20px; background: #fff; overflow-y: auto; }
h2 { margin-top: 0; display: flex; align-items: center; gap: 10px; color: #333; text-align: center; justify-content: center; }

/* ===== GRÁFICA ===== */
.container-grafica {
    display: flex; justify-content: center; align-items: center;
    gap: 40px; margin-top: 40px;
}
.chart-container {
    width: 380px; height: 380px;
}
.info {
    text-align: left; border-left: 2px solid #333; padding-left: 25px;
}
.info-item { margin-bottom: 20px; }
.info-item span {
    display: inline-block; width: 15px; height: 15px; border-radius: 50%; margin-right: 10px;
}
.serv1 { background-color: #a595f9; }
.serv2 { background-color: #ff5959; }
.serv3 { background-color: #ffbe5b; }
.info-item b { font-size: 18px; }

.botones { margin-top: 30px; text-align: center; }
.botones button {
    font-size: 18px; margin: 0 10px; padding: 10px 30px;
    border: none; border-radius: 10px;
    background-color: #00cfff; color: black; font-weight: bold;
    cursor: pointer; box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
    transition: transform 0.2s, background-color 0.3s;
}
.botones button:hover { transform: scale(1.05); background-color: #00bde0; }
.botones button:focus { background-color: #fff; border: 2px solid #000; }
