footer {


    background: #000000;
    text-align: center;
    padding: 10px;
    position: relative; /* ✅ o simplemente elimina esta línea */
    display: flex;
    flex-direction: column; /* ✅ mejora estructura */
    align-items: center;
    left: 0;
    width: 100%;
    color: white;
}


.footer-content {
    color: #000000;
    font-size: 14px;
}

/* From Uiverse.io by Creatlydev */ 
.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0,0,0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(165, 5, 168, 0.584),
    inset 0 0 0 1px rgba(165, 5, 168, 0.584);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(181, 13, 170, 0.4),
    inset 0 0 0 1px rgba(181, 13, 170, 0.4);
  color: #ffffff;
  transform: translate(0, -0.25rem);
  background-color: rgba(181, 13, 170, 0.4);
}
