  .container { display: flex; height: calc(100vh - 50px); }

  aside {
      width: 75px; /* tamaño inicial solo iconos */
      color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      transition: width 0.3s;
      overflow: hidden;
      flex-shrink: 0;
  }

  aside:hover {
      width: 260px;
  }

  aside a {
      display: flex;    
      align-items: center;
      padding: 22px;
      border-radius: 5px;
      color: #000;
      text-decoration: none;
      font-size: 14px;
      margin: 8px 0;
      transition: background 0.3s, color 0.3s;
      width: 100%;
      box-sizing: border-box;
  }

  aside a:hover {
      background: #88a1c3ff;
      color: #fff;
  }

  aside a svg {
      flex-shrink: 0;
      width: 28px;
      height: 28px;
  }

  aside a span {
      margin-left: 10px;
      opacity: 0;
      white-space: nowrap;
      transition: opacity 0.3s;
  }

  aside:hover a span {
      opacity: 1;
  }