body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Barra superior */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eceae7ff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

header .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

header .logo span {
    margin-left: 10px;
    font-size: 14px;
}

header .user {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

header .time {
    font-size: 12px;
    color: #666;
    text-align: right;
}

/* Layout general */
.container {
    display: flex;
    height: calc(100vh - 50px);
}

/* Sidebar */
aside {
    width: 220px;
    background: #9cb6d6ff;
    color: #fff;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside a {
    display: flex;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
    color: #000000ff;
    text-decoration: none;
    font-size: 14px;
}

/* Sección de cajas */
main {
    flex: 1;
    padding: 20px;
    background: #fff;
    overflow-y: auto;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

form input, form button {
    padding: 8px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background: #747e8bff;
    color: white;
}

.btn-eliminar {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-eliminar:hover {
    background: darkred;
}
.btn-configurar {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-configurar:hover {
    background: #0056b3;
}
